@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(asset/most-bg.jpg);
    background-position: center;
    background-size: cover;
    column-gap: 30px;
}

/* ============= CSS for delay screen =========== */
.content {
    display: none;
}
.loader {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #000b16;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img {
    width: 350px;
}

.form{
    background: transparent;
    max-width: 420px;
    width: 100%;
    padding: 30px;
    border-radius: 0px  100px 0px 100px;
    border: 3px solid #020b24;
    position: absolute;
}

header{
    font-size: 26px;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
}

form{
    margin-top: 20px;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    border: 1px solid #cacaca;
    padding: 0 15px;
    background-color: transparent;

}

.field input:focus{
    border-color: #020b24; 
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
}

.field button{
    color:#fff;
    background-color: #01192e;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    background-color: #062846;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
}

.form a {
    text-decoration: none;
    color: #0171d3;
}

.form-content a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    background-color: #d4d4d4;
    margin: 36px 0;
    height: 1px;
    width: 100%;
}

.line::before{
    content: 'or';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    color: #8b8b8b;
    padding: 0px 15px;
    transform: translate(-50%, -50%);
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-options a:hover {
    background: #000b16;
    transition: 2s all ease;
}




.none{
  display: none;
}





@media screen and (max-width:991px) {
    .loader img {
        width: 150px;
    }
}








